azure-core
azure-functions
azure-storage-blob
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
filelock
flask
Flask-Cors
fsspec
geographiclib
geopy
huggingface-hub
idna
importlib_metadata
isodate
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
Pillow
protobuf
pycparser
PyMuPDF
pyodbc==4.0.34
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentencepiece
six
sympy
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
zipp